.user_Name{
  color:maroon;
  background: antiquewhite;
  text-align: center;
  font-family: AppleGothic;
  font-size: xxx-large;
}


.email_Id{
  color:darkslategray;
  background:darkred;
  font-family:Baghdad;
  font-size:medium;
}
